.main_start {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
    background-color: #94d4b1;
    height: 470px;
    .main_start_center {
        margin: 0 auto;
        // width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        // padding-top: 200px;
        padding: 180px 40px;

        .left {
            .leftTitle {
            width: 180px;
            height: 280px;
            font-size: 20px;
            font-weight: bold;
            }
        }
        .right {
            font-size: 18px;
        }
    }
}